.but{
  background-color: yellow;
  height: 60vh;
}
.skill{
  font-weight: 350;
}
.search{
  width: 40%;
  margin-left: 30%;
}
.group{
  background-size: cover;
}
.op{
  opacity: 0.3;
}
.ln{
  margin-left: 60%;
}
.foot{
  background-color: yellow;
  height: 40vh;
}
.key{
  height: 50vh;
}
.sklogo{
  margin-bottom: 10px;
  height: 10vh;
  margin-left: 10%;
}
.card-img-top{
  height: 200px;
  width: 200px;
}
.card2{
  margin-top: 50px;
  margin-left: 18.5%;
}
.show{
  margin-top: 10%;
}
.fil{
  margin-top: -17%;
  /* margin-left: 415.5%; */
}
.left{
  background-color: yellow;
  height: 20vh;
}
.pro{
  height:350px;
  width: 100%;
}
.card1{
  height: 200px;
  width: 20%;
  border-radius:100%;
  margin-top: -100px; 
  margin-left: 50px;
}
.sab{
  margin-left: 15%;
}
.sab1{
  margin-left: 11%;
}
.sab2{
  margin-left: 10%;
}
.sab8{
 margin-left: 15%;
}
.sab7{
  margin-left: 13%;
 }
 .nan7{
  margin-left: 10%;
 }
 .nand7{
  margin-left: 14%;
 }
 .nav6{
  margin-left: 13%;
 }
 .nav{
  margin-left: 16.5%;
 }
 .nave{
  margin-left: 10%;
 }
 .nave5{
  margin-left: 11.5%;
 }
 .navee5{
  margin-left: 11.5%;
 }
 .var{
  margin-left: 17%;
 }
 .var4{
  margin-left: 15%;
 }
 .vars4{
  margin-left: 19%;
 }
 .vig{
  margin-left: 11%;
 }
 .vig3{
  margin-left: 13.5%;
 }
 .vign3{
  margin-left: 14%;
 }
.mamlist{
  width: 100%;
}
.market{
  height: 150px;
  width: 150px;
  
}
.mark{
  margin-left: 40%;
}
.engi{
  margin-left: 34%;
}
.doc{
  margin-left: 24%;
}
.tea{
  margin-left: 42%;
}
.info{
  margin-left: 31%;
}
.tea{
  margin-left: 42%;
}
.arc{
  margin-left: 36%;
}
.navbar12{
  margin-left: 30%;
}
.inputland{
  width: 250%;
}
.filand{
  margin-left: 10%;
}
.searchlogo{
  height: 38px;
  width: 50px;
  margin-left: 47.9%;
  margin-top: 8%; 
}
.inputlist{
  width:100%;
}
.abo{
  margin-left: 15%;
  
}
.abo1{
  margin-left: 5%;

}
.searchlogo1{
  height: 37px;
  width: 50px;
  margin-top: 8.5%; 
  margin-right: 10%;
}
.fil1{
  margin-top: 8.2%;
  margin-right: -100%;
}
/* .fitter{
  margin-top:5px;
 
} */